Binaries
DerivedDataCache
Intermediate
Saved
Content/AnimStarterPack
!SK_Mannequin.uasset
!Prone_To_Stand.uasset
Content/FirstPerson
Content/StarterContent
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace